body{
    background-color: #818181; 
}
.des{
 
    border-left: 6px solid #0275d8;
    border-right: 6px solid #0275d8;
}
.container-fluid{
   margin: 0px;
   padding: 0px;
    overflow: hidden;
}
.bread li a{
    text-decoration: none;
}
.bread li a:hover{
  color: black;
    background-color: #0275d8;
}
